@model BusinessLayerLibrary.TeamAttributePermission

@{
    ViewBag.Title = "Delete Team Attribute Permission";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Team Attribute Permission</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TeamID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeamID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AttributeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttributeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AttributeDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttributeDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReadPermission)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReadPermission)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WritePermission)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WritePermission)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notify)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notify)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ViewChange)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ViewChange)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParkForQuarantine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParkForQuarantine)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
