@model IEnumerable<BusinessLayerLibrary.PivotView>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ViewID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ViewDesc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ViewID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ViewDesc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ViewID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ViewID })
        </td>
    </tr>
}

</table>
