@model IEnumerable<BusinessLayerLibrary.Cat>

@{
    ViewBag.Title = "Cat Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Cat Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CatID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CatDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CatActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CatOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Concept)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShortCode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CatID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CatDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CatActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CatOrder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Concept)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShortCode)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CatID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CatID })
        </td>
    </tr>
}

</table>
