@model IEnumerable<BusinessLayerLibrary.Team>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TeamDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeamEmail)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TeamDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeamEmail)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TeamID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TeamID })
        </td>
    </tr>
}

</table>
