@model IEnumerable<BusinessLayerLibrary.Season>

@{
    ViewBag.Title = "Season Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Season Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SeasonID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeasonDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstLaunchDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeasonActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VAT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GBPUSD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GBPEUR)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SeasonID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SeasonDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstLaunchDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SeasonActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VAT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GBPUSD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GBPEUR)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SeasonID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SeasonID })
        </td>
    </tr>
}

</table>
