@model BusinessLayerLibrary.MerchCat

@{
    ViewBag.Title = "MerchCat Delete";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Delete MerchCat</h2>

<h3>Are you sure you want to delete MerchCat @ViewBag.ID?</h3>
<div>
    <h4>MerchCat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DeptID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeptID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MerchCatDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MerchCatDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MerchCatActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MerchCatActive)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
